:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: rgb(254, 108, 2);
  background-color: rgb(34, 34, 34);
  color: rgb(239, 240, 240);
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* .game-card */
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  transition: all 0.1s ease-in-out;
}
.game-card {
  width: 380px;
  padding: 15px;
  height: 280px;
}
.game-card h2.game-title {
  font-family: Lato, sans-serif;
  font-size: 16px;
}

.game-card .header {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  /* background-color: red; */
}
.game-card:hover img {
  transform: scale(1.05);
}
.game-card:hover .header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.game-card .game-info .title-tag {
  display: flex;
  align-items: center;
  gap: 15px;
}
.game-card .game-info .dlc-tag {
  border: 1px solid rgb(239, 240, 240, 0.5);
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(239, 240, 240, 0.5);
  width: fit-content;
}
.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.game-card .game-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.game-card .game-price .current-price {
  font-size: 18px;
  font-weight: 600;
}
.game-card .game-price .previous-price {
  font-size: 13px;
  color: rgb(239, 240, 240, 0.5);
}

.game-card .discount {
  padding: 5px 15px;
  background-color: var(--primary-color);
  width: fit-content;
  position: absolute;
  bottom: -2px;
  left: -2px;
  border-radius: 5px;
  border-top-right-radius: 15px;
  font-weight: 600;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
}
.game-card:hover .discount {
  /* display: none; */
}
.products-header {
  width: 100%;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
  margin: 0px 200pxw;
}

.center {
  display: grid;
  place-content: center;
}

.products-header .header-title {
  margin: 15px;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  /* display: inline-block; */
  letter-spacing: 3px;
  /* border: 1px solid; */
  line-height: 35px;
  /* padding: 5px 20px; */
  margin-bottom: 0;
  border-radius: 8px;
  text-shadow: -2px 2px 4px rgba(255, 255, 255, 0.3);
}

.products-header .cta-button {
  margin-right: 15px;
  width: fit-content;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  box-shadow: none;
  border: 1px solid;
  border-radius: 5px;
}

/* animation fade up */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-1%);
  transition: all 2s ease-in-out;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* slide images */
.slide-container {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.slide-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 0 91%, 100% 100%, 100% 0%);
  object-position: 30% 30%;
  animation: fade 1s ease;
}
.slide-info {
  position: absolute;
  bottom: 200px;
  left: 20em;
}

.slide-container .early-tag {
  position: relative;
  bottom: 200px;
  right: 50px;
  /* right: -300px; */
  font-size: 42px;
  /* background-color: red; */
}
.slide-info .days-tag {
  font-size: 16px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.slide-info .info-text {
  font-size: 42px;
  text-shadow: -2px 2px 4px rgba(255, 255, 255, 0.3);
  margin: 0px !important;
  /* color: black; */
}

.slide-info .slide-price {
  display: flex;
  gap: 15px;
  align-items: center;
}

.slide-info .slide-price .discount-text {
  padding: 5px 15px;
  background-color: var(--primary-color);
  width: fit-content;
  border-radius: 5px;
  border-top-right-radius: 15px;
  font-weight: 600;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
  margin: 0px;
}

.slide-info .slide-price .price-text {
  font-size: 30px;
  margin: 0px;
}
@keyframes fade {
  0% {
    /* opacity: 0; */
    /* object-position: 0% 0%; */
    filter: blur(1px);
    /* transform: translateX(-100%); */
    transform: scale(1.1);
  }
  100% {
    /* opacity: 1; */
    /* object-position: 20% 20%; */
    filter: blur(0px);
    transform: scale(1);
  }
}

/* nav */
#nav-container {
  position: fixed;
  top: 20px;
  left: 0;

  /* height: 120px; */
  width: 100%;

  z-index: 2;

  display: flex;
  /* align-items: center; */
}

#nav-container .logo {
  flex-grow: 1;
  /* background-color: red; */
}
#nav-container .logo img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin: 0px 0px 25px 25px;
}
#nav-container .nav {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
#nav-container .static {
  display: flex;
  gap: 25px;
}
#nav-container .static span {
  cursor: pointer;
  font-weight: 600;
}
#nav-container .profile {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0px 25px 25px 0px;
}
#nav-container .profile svg {
  cursor: pointer;
}
#nav-container .category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  gap: 15px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(25px);
}

#nav-container .category .cat {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

/* category modal */

.modal {
  display: none;
  width: 100%;
  max-width: 600px;
  height: 100%;

  transition: all 0.3s ease-in-out;
}
.modal-content .close-btn {
  position: absolute;
  right: 10px;

  cursor: pointer;
}
.modal-content {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content .headers {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 5px;

  margin: 35px 0px;
}

.modal-animation {
  animation: fade-up 0.3s ease-in-out;
}

@keyframes fade-up {
  0% {
    /* opacity: 0; */
    transform: translateY(30px);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
  }
}

.modal .platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.modal .platforms .platform {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  padding: 0px 15px;
  width: 200px;
  border-radius: 35px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.modal .platforms .platform:hover {
  background: rgba(255, 255, 255, 0.2);
}
.modal .platforms .platform svg {
  width: 30px;
}

.modal .payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal .payment .option {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  /* width: 100px; */
}

.modal .payment .option img {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}
